QMainWindow, QDialog {
    background: #aa312d;
}

QGroupBox {
    border: 1px solid white;
}

QGroupBox::title {
    color: white;
}

QLabel#label_Logo {
    color: white;
    font-family: Serif;
}

QToolTip {
    background-color:white;
}
