QWidget {
    font-family: "D-DIN Condensed";
    font-size: 19px;
}

QMainWindow, QDialog {
    background: #aa312d;
}

/*
QComboBox {
    font-size: 18px;
}
*/

QGroupBox {
    border: 1px solid white;
}

QGroupBox::title {
    color: white;
}

QLabel#label_Logo {
    color: white;
    font-family: Serif;
}

QToolTip {
    background-color:white;
    font-size: 14px;
}
